* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  transition-timing-function: 1s ease-in;
  transition-delay: 0.4s;
  transition-duration: 1s;
}

.dark {
  background-color: rgba(7, 5, 12, 0.926);
  transition-timing-function: 1s ease-in;
  transition-delay: 0.4s;
  transition-duration: 1s;
  color: #f1f1f1;
}

.container-fluid {
  clip-path: polygon(0 0%, 100% 0, 100% 0, 0 0);
  transition-timing-function: 1s ease-in;
  transition-delay: 0.4s;
  transition-duration: 1s;
}

.rectangle {
  width: 240px;
  height: 6rem;
  background-color: #381717;
  cursor: pointer;
  padding: 8px;
}

.circle {
  height: 5rem;
  width: 5rem;
  background-color: blue;
  transition-timing-function: -2s ease-in;
  transition-delay: 0.5s;
  transition-duration: 0.6s;
}

.circleDark {
  transform: translateX(146px);
  height: 5rem;
  width: 5rem;
  background-color: blue;
  transition-timing-function: -2s ease-in;
  transition-delay: 0.5s;
  transition-duration: 0.6s;
}

.col-xl-3 {
  height: 50vh;
  background-color: rgb(111, 12, 111);
  color: #f1f1f1;
  cursor: pointer;
}

.col-xl-3 span {
  font-size: 48px;
  text-transform: uppercase;
}

.col-xl-3 p {
  font-size: 16px;
  display: none;
}
